* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s;
}

button:hover {
  background-color: #452aa8;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
  transition: all 0.5s;
}

div li button:hover {
  background-color: #96070c;
}

input {
  padding: 10px;
  margin-right: 5px;
  outline: 0;
  border: 1px solid #eee;
  color: "#333";
}
input::placeholder {
  color: #666;
  font-weight: 100;
}
